{% load static %}
<!-- Theme Config Js -->
<script src="{% static 'js/hyper-config.js' %}"></script>

<!-- Vendor css -->
<link href="{% static 'css/vendor.min.css' %}" rel="stylesheet" type="text/css" />

<!-- App css -->
<link href="{% static 'css/app.min.css' %}" rel="stylesheet" type="text/css" id="app-style" />

<!-- Icons css -->
<link href="{% static 'css/unicons/css/unicons.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'css/remixicon/remixicon.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'css/mdi/css/materialdesignicons.min.css' %}" rel="stylesheet" type="text/css" />