{% extends 'base.html' %}

{% block title_meta %}
    {% include 'partials/title-meta.html' with title='Starter Page' %}
{% endblock %}

{% block head_css %}
    {% include 'partials/head-css.html' %}
{% endblock %}

{% block page_title %}
    {% include 'partials/page-title.html' with subtitle='Pages' title='Starter' %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title">Starter Page</h4>
                    <p class="text-muted">This is a starter page template.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}